{
  "version": 1.0,
  "project": "XYZ-${repo}-${branch}",
  "team": "/CxServer/SP/APAC",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": "true", // values: "true" or "false"
    "forceScan": "true", // values: "true" or "false"
    "fileExcludes": "*.pyc, *.test, *.class",
    "folderExcludes": "*test, out/, *bin",
    "publicScan" : "false"
  },
  "additionalProperties": {
    "cxFlow": {
      "application": "test app",
      "branches": ["develop", "main", "master"],
      "emails": ["xxxx@checkmarx.com"],
      "bugTracker": "GitHub", // other possible values: "GitLab", "GitHub", "Azure",
      "scanResubmit": "true", // values: "true" or "false",
      "sshKeyIdentifier": "Key of the ssh-key-list parameter present in application.yml file.",
      "zipExclude": ".git/.*, src/test/.*, target/.*",
      },
      "filters": {
        "severity": ["High", "Medium"],
        "cwe": ["79", "89"],
        "category": ["XSS_Reflected", "SQL_Injection"],
        "status": ["New", "Recurring"],
        "state": ["Confirmed", "To Verify"]
      }
    }
  },
  "customFields": {
    "field1": "value1",
    "field2": "value2"
  },
  "scanCustomFields": {
    "field3": "value3",
    "field4": "value4"
  },
  "emailNotifications": {
    "afterScan": [
      "user1@example.com",
      "user2@example.com"
    ],
    "beforeScan": [
      "user3@example.com",
      "user4@example.com"
    ],
    "failedScan": [
      "user5@example.com",
      "user6@example.com"
    ]
  }
}
